body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background: linear-gradient(to right,red, white);
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    padding: 12px 24px;
    border-radius: 10px;

} 

h1{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.subtitle{
    margin-top: 70px;
}